/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	@x|y|z

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

[:--D*="@x"],
[:--D*="@X"] > *,
[:--D*="@y"],
[:--D*="@Y"] > *,
[:--D*="@z"],
[:--D*="@Z"] > * {
	transform-origin: var(--D_OG);
	transform:
		perspective(var(--D_P))
		rotateX(var(--D_RX0, 0))
		rotateY(var(--D_RY0, 0))
		rotateZ(var(--D_RZ0, 0))
	;
}

/*-----------------------
	@x
-----------------------*/

[:--D*="@x"],
[:--D*="@X"] > * {
	--D_RX0: calc(
		calc(
			calc(15deg * var(--D__RXD, 0))
			+ calc(15deg * var(--D__RXDM, 0))
		)
		* var(--D__R-DX, 1)
	);
}

[:--D*="@x-up"],
[:--D*="@X-up"] > *,
[:--D*="@x-down"],
[:--D*="@X-down"] > * {
	--D__RXD: 1;
}

[:--D*="@x-up+"],
[:--D*="@X-up+"] > *,
[:--D*="@x-down+"],
[:--D*="@X-down+"] > * {
	--D__RXD: 2;
}

[:--D*="@x-up++"],
[:--D*="@X-up++"] > *,
[:--D*="@x-down++"],
[:--D*="@X-down++"] > * {
	--D__RXD: 3;
}

[:--D*="@x-up+++"],
[:--D*="@X-up+++"] > *,
[:--D*="@x-down+++"],
[:--D*="@X-down+++"] > * {
	--D__RXD: 4;
}

[:--D*="@x-up++++"],
[:--D*="@X-up++++"] > *,
[:--D*="@x-down++++"],
[:--D*="@X-down++++"] > * {
	--D__RXD: 5;
}

/* 90deg */
[:--D*="@x-up*"],
[:--D*="@X-up*"] > *,
[:--D*="@x-down*"],
[:--D*="@X-down*"] > * {
	--D__RXDM: 5;
}

/* 180deg */
[:--D*="@x-up**"],
[:--D*="@X-up**"] > *,
[:--D*="@x-down**"],
[:--D*="@X-down**"] > * {
	--D__RXDM: 11;
}

/* 270deg */
[:--D*="@x-up***"],
[:--D*="@X-up***"] > *,
[:--D*="@x-down***"],
[:--D*="@X-down***"] > * {
	--D__RXDM: 17;
}

/* 360deg */
[:--D*="@x-up****"],
[:--D*="@X-up****"] > *,
[:--D*="@x-down****"],
[:--D*="@X-down****"] > * {
	--D__RXDM: 23;
}

/* Invert */
[:--D*="@x-down"],
[:--D*="@X-down"] > * {
	--D__R-DX: -1;
}

/*-----------------------
	@y
-----------------------*/

[:--D*="@y"],
[:--D*="@Y"] > * {
	--D_RY0: calc(
		calc(
			calc(15deg * var(--D__RYD, 0))
			+ calc(15deg * var(--D__RYDM, 0))
		)
		* var(--D__R-DY, 1)
	);
}

[:--D*="@y-up"],
[:--D*="@Y-up"] > *,
[:--D*="@y-down"],
[:--D*="@Y-down"] > * {
	--D__RYD: 1;
}

[:--D*="@y-up+"],
[:--D*="@Y-up+"] > *,
[:--D*="@y-down+"],
[:--D*="@Y-down+"] > * {
	--D__RYD: 2;
}

[:--D*="@y-up++"],
[:--D*="@Y-up++"] > *,
[:--D*="@y-down++"],
[:--D*="@Y-down++"] > * {
	--D__RYD: 3;
}

[:--D*="@y-up+++"],
[:--D*="@Y-up+++"] > *,
[:--D*="@y-down+++"],
[:--D*="@Y-down+++"] > * {
	--D__RYD: 4;
}

[:--D*="@y-up++++"],
[:--D*="@Y-up++++"] > *,
[:--D*="@y-down++++"],
[:--D*="@Y-down++++"] > * {
	--D__RYD: 5;
}

/* 90deg */
[:--D*="@y-up*"],
[:--D*="@Y-up*"] > *,
[:--D*="@y-down*"],
[:--D*="@Y-down*"] > * {
	--D__RYDM: 5;
}

/* 180deg */
[:--D*="@y-up**"],
[:--D*="@Y-up**"] > *,
[:--D*="@y-down**"],
[:--D*="@Y-down**"] > * {
	--D__RYDM: 11;
}

/* 270deg */
[:--D*="@y-up***"],
[:--D*="@Y-up***"] > *,
[:--D*="@y-down***"],
[:--D*="@Y-down***"] > * {
	--D__RYDM: 17;
}

/* 360deg */
[:--D*="@y-up****"],
[:--D*="@Y-up****"] > *,
[:--D*="@y-down****"],
[:--D*="@Y-down****"] > * {
	--D__RYDM: 23;
}

/* Invert */
[:--D*="@y-down"],
[:--D*="@Y-down"] > * {
	--D__R-DY: -1;
}

/*-----------------------
	@z
-----------------------*/

[:--D*="@z"],
[:--D*="@Z"] > * {
	--D_RZ0: calc(
		calc(
			calc(15deg * var(--D__RZD, 0))
			+ calc(15deg * var(--D__RZDM, 0))
		)
		* var(--D__R-DZ, 1)
	);
}

[:--D*="@z-up"],
[:--D*="@Z-up"] > *,
[:--D*="@z-down"],
[:--D*="@Z-down"] > * {
	transform-style: preserve-3d;
	--D__RZD: 1;
}

[:--D*="@z-up+"],
[:--D*="@Z-up+"] > *,
[:--D*="@z-down+"],
[:--D*="@Z-down+"] > * {
	--D__RZD: 2;
}

[:--D*="@z-up++"],
[:--D*="@Z-up++"] > *,
[:--D*="@z-down++"],
[:--D*="@Z-down++"] > * {
	--D__RZD: 3;
}

[:--D*="@z-up+++"],
[:--D*="@Z-up+++"] > *,
[:--D*="@z-down+++"],
[:--D*="@Z-down+++"] > * {
	--D__RZD: 4;
}

[:--D*="@z-up++++"],
[:--D*="@Z-up++++"] > *,
[:--D*="@z-down++++"],
[:--D*="@Z-down++++"] > * {
	--D__RZD: 5;
}

/* 90deg */

[:--D*="@z-up*"],
[:--D*="@Z-up*"] > *,
[:--D*="@z-down*"],
[:--D*="@Z-down*"] > * {
	--D__RZDM: 5;
}

/* 180deg */
[:--D*="@z-up**"],
[:--D*="@Z-up**"] > *,
[:--D*="@z-down**"],
[:--D*="@Z-down**"] > * {
	--D__RZDM: 11;
}

/* 270deg */
[:--D*="@z-up***"],
[:--D*="@Z-up***"] > *,
[:--D*="@z-down***"],
[:--D*="@Z-down***"] > * {
	--D__RZDM: 17;
}

/* 360deg */
[:--D*="@z-up****"],
[:--D*="@Z-up****"] > *,
[:--D*="@z-down****"],
[:--D*="@Z-down****"] > * {
	--D__RZDM: 23;
}

/* Invert */
[:--D*="@z-down"],
[:--D*="@Z-down"] > * {
	--D__R-DZ: -1;
}
